<% if (session.user !== undefined) { %>
	<div id="profile" class="profile content profileGlance">
		<p><a href="/user/<%- session.user.uname %>"><img src="/img/user_pics/<%= session.user.uname %>.jpeg" onerror="this.src='/img/user_pics/default.jpeg';" width="32" height="32" class="left" /><%- session.user.uname %><br /><span>View my profile page</span></a></p>
		<ul id="profileSidebar" class="stats">
			<!--<%- include loginRegisterList.ejs %>-->
		</ul>
		<div class="clearfix">&nbsp;</div>
		<form id="tweet">
			<textarea
				class="tweetExpand" id="newTweet" name="<%- session.user.uname %>"
				onblur="if(this.value=='')this.value=this.defaultValue;"
				onfocus="if(this.value==this.defaultValue)this.value=''; countChars('newTweet','char_count',140, tweetButton);"
				onKeyDown="countChars('newTweet','char_count',140, tweetButton)"
				onKeyUp="countChars('newTweet','char_count',140, tweetButton)"
				>Compose a new tweet...
			</textarea>
			<input class="tweetButton" id="tweetButton" type="image" src="http://localhost:3000/img/Tweet_Focus_Out.jpg" name="tweetButton"/>
			<span id="char_count"></span>
		</form>
		<div class="clearfix"></div>
	</div>
<% } %>