<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> | Twitter App</title>
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet/less" href="/css/styles.less" />
	<script src="/js/less-1.3.3.min.js" type="text/javascript"></script>
  </head>
  <body>
  	<div id="site"> <!-- #site -->
	  	<header id="header"> <!-- header#header -->
	  		<hgroup> <!-- hgroup -->
				<h1 id="title"><%= title %></h1>
				<h2 id="slogan">A class project</h2>
			</hgroup> <!-- hgroup -->
		  	<nav class="wrapper"> <!-- nav -->
				<ul>
					<% if (session.user) { %>
					<li class="home<% if (nav === "home") { %> active<% } %>"><a href="/">Home</a></li>
					<li class="connect<% if (nav === "connect") { %> active<% } %>"><a href="/connect">Connect</a></li>
					<li class="discover<% if (nav === "discover") { %> active<% } %>"><a href="/discover">Discover</a></li>
					<li class="me<% if (nav === "me") { %> active<% } %>"><a href="/user/<%- session.user.username %>">Me</a></li>
					<li class="session right"><span class="welcome">Welcome <%- session.user.username %> | <a href="/messages"<% if (nav === "messages") { %> class="active"<% } %>>Messages</a> | <a href="/settings"<% if (nav === "settings") { %> class="active"<% } %>>Settings</a> | <a href="/logout">Logout</a></span></li>
					<% } %>
					<% if (!session.user) { %>
					<li class="login<% if (nav === "login") { %> active<% } %>"><a href="/login">Login</a></li>
					<li class="register<% if (nav === "register") { %> active<% } %>"><a href="/register">Get Started</a></li>
					<% } %>
				</ul>
			</nav> <!-- nav -->
			<div class="clearfix"></div>
		</header> <!-- header#header -->
	    <div id="main"> <!-- #main -->
			<%- body -%>
		</div> <!-- #main -->
		<div class="clearfix"></div>
	</div> <!-- #site -->
	<script src="/js/jquery-1.9.1.min.js" type="text/javascript"></script>
	<script src="/js/main.js" type="text/javascript"></script>
	<% if (session.user) { %>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/chat.js" type="text/javascript"></script>
	<% } %>
</body>
</html>